.test{
    padding: 50px 100px;
    margin-top: 100px;
    .test-contain{
        .test-top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            h2{
                font-size: 48px;
                font-weight: 600;
                margin: 0px;

                @media screen and (max-width: 900px) {
                    font-size: 35px;
                }
            }
            p{
                color: rgba(255, 255, 255, 0.406);
                max-width: 40%;
                @media screen and (max-width: 800px) {
                    max-width: unset;
                }
            }
            @media screen and (max-width: 800px) {
                flex-direction: column;
                text-align: center;
            }
        }
        .logos{
            display: flex;
            margin-top: 100px;
            align-items: center ;
            justify-content: space-between;
            flex-wrap: wrap;
            img{
                width: 15%;
                @media screen and (max-width: 800px) {
                    width: 40%;
                    gap: 20px;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        padding: 20px 50px;
    }
}
