.App {
  margin: 0px;
  /* padding: 50px 100px; */
  background-color: rgba(0, 4, 15, 1);
  /* max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

@media screen and (max-width: 900px) {
  .App{
    /* padding: 20px 50px; */
  }
}
